{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
            <div class="avatar">
                <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
            </div>
            <h3>I'm <strong>{{ .Site.Params.author }}</strong></h3>

            <br>
            <h4>Writing code @ Singapore</h4>
            <br>
            <img style="max-width:100%;" src="https://s3-ap-southeast-1.amazonaws.com/ghost-zhijiahu/2021/05/raspi-cluster.jpeg" loading="lazy" />
            {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
